node_id=1
node_name=postgres_master
conninfo='host={{ postgres_master }} user=repmgr dbname=repmgr connect_timeout=2'
data_directory='/var/lib/pgsql/10/data'
pg_bindir='/usr/pgsql-10/bin/'
ssh_options='-q -o ConnectTimeout=10 -o "StrictHostKeyChecking no"'
