[postgres:children]
citus
pgbouncer

[citus:children]
postgres_master
postgres_repl
citus_worker

[pgbouncer:children]
pgbouncer_master
citus_worker

[postgres_master]
x.x.x.x

[postgres_repl]
y.y.y.y

[citus_worker]
a.a.a.a
b.b.b.b

[pgbouncer_master]
z.z.z.z
